language: rust
rust:
  - stable
  - beta
  - nightly
matrix:
  allow_failures:
    - rust: nightly
  fast_finish: true
notifications:
  email:
    on_success: never
    on_failure: always

script:
- cargo clean
- cargo build
- cargo test

env:
  global:
    - CODECOV_TOKEN=2072cbf1-2dcf-4982-b698-178d4b4047e4

after_success: |
  if [[ "$TRAVIS_RUST_VERSION" == stable ]]; then
    sudo apt-get update &&
    sudo apt-get install libcurl4-openssl-dev libelf-dev libdw-dev &&
    wget https://github.com/SimonKagstrom/kcov/archive/master.tar.gz &&
    tar xzf master.tar.gz && mkdir kcov-master/build && cd kcov-master/build && cmake .. && make &&
    sudo make install && cd ../.. &&
    ls target/debug &&
    for file in target/debug/padd-*[^\.d] target/debug/concept-*[^\.d] target/debug/scope-*[^\.d]; do
      mkdir -p "target/cov/$(basename $file)";
      kcov --exclude-region='#[cfg(test)]:#[cfg(testkcovstopmarker)]' --include-path=src --exclude-path=src/cli/mod.rs --exclude-path=src/cli/logger.rs "target/cov/$(basename $file)" "$file";
    done &&
    bash <(curl -s https://codecov.io/bash)
  fi
